<article>
<h1>Canvasに描いた画像をサーバへ送信します。</h1>
<p>iOS、Android双方でデフォルトブラウザからの動画送信のテストアプリです。</p>
<p>下のcanvasに絵を描いて、送信ボタンで画像を送信できます。</p>
<canvas id="canvas" width="300" height="300"></canvas>
<p><input type="button" value="画像を送信" id="send" /></p>
<p><a href="/viewer">投稿された画像一覧へ</a></p>
</article>
