<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/img/apple-splash.jpg" />
<title><%= title %></title>
<script src="/js/lib/jquery-1.7.1.min.js"></script>
<script src="/js/canvas2image.js"></script>
<script src="/js/canvas.js"></script>
</head>

<body>

<%- body %>

</body>
</html>
